@model List<RecipesSPA.Models.Recipe>

@{
    ViewBag.Title = "Recipes";
}

<h2>Popular Recipes</h2>


@using (Html.BeginForm("Search", "Home", FormMethod.Post))
{
    @Html.TextBox("searchTerm", null, new { id = "txtSearch" })
    <input type="submit" value="Search" />


    if (Model != null)
    {

        foreach (var item in Model)
        {
            <p>Id: @Html.DisplayFor(modelItem => item.Title)</p>
            <img src="@Html.DisplayFor(modelItem => item.Image)">

            <br />

        }

        @Html.ActionLink("Load next 25 items", "Recipes", "Home");

    }

}

